html{
    scroll-behavior: smooth;    
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif

}

.container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
}

h1,
h2{
    text-align: center;
    font-family:  Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
}

h1{
    font-size:80px;
    border-top: #000000 solid;
    border-bottom: #000000 solid;
}

h2{
    font-weight: bold;
}

.section-flex{
    display: flex;
    flex-wrap: wrap;
}

.product{
    width: 25%;
    margin: 3%;
    border: 5px #000000 solid;
    border-radius: 10px;
    text-align: center;
}

.product img{
    width: 70%;
    border: #000000 5px solid;
    border-radius: 10px;
}

.info-product{
    text-align: justify;
    margin: 2%;
}

.info-product p {
    font-size: 18px;
}

footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    height: 80%;
    padding: 2%;
}

.img-normalizada{
	width: 300px;
	height: 300px;
	object-fit: cover;
}

